body {
    width: 350px;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

.header-image {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

.container {
    padding: 15px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-data label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center;
}

.form-data input[type="text"] {
    width: 100%;
    padding: 10px 8px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #eeeeee;
    text-align: center;
}

.form-data select {
    width: 100%;
    padding: 10px 8px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #eeeeee;
    text-align-last: center;
    -moz-text-align-last: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23555555' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}
#search-btn {
    background-color: #1749d3;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

#search-btn:hover {
    background-color: #10349b;
}

.errors {
    color: #d44c4c; 
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

#results-container {
    margin-top: 20px;
    border-top: 2px solid #ddd;
    padding-top: 15px;
}

#results-container h2 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: #888;
    text-align: center;
}

.result-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}

.result-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1749d3;
    margin: 0 0 5px 0;
}

.result-item p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.result-item .origin {
    font-size: 0.8rem;
    color: #888;
    margin-top: 8px;
    font-style: italic;
}