.highlight {
    background-color: #fff3b0;
    border-radius: 5px;
    padding: 2px 5px;
  }
  
  .error {
    background-color: rgb(255, 210, 210);
    border: 2px solid rgb(227, 126, 126);
    }

#typed-value:disabled {
    background-color: #eee;
    color: #666;
    cursor: not-allowed;
}

body{
    background-color: #f5f5f0;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 3rem;
    color:rgb(74, 116, 103);
}

#quote{
    font-size: 1.1rem;
    background-color: white;
    border-radius: 12px;
    width: 80%;
    text-align: center;
    align-items: center;
    margin: auto;
}

#typed-value{
    font-size: 1rem;
    width: 300px;
}

#start{
    font-size: 1rem;
    background-color: rgb(138, 180, 185);
    border: none;
    cursor: pointer;
}

#message{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: olive;
}

#start:disabled {
    background-color: #b0bec5;  
    cursor: not-allowed;       
    opacity: 0.7;               
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    border-radius: 10px;
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  #close-modal:hover {
    color: gray;
  }